<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaterBnB</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <p>{{ text }}</p>
        <p><a href="/">Try again.</a></p>
    </header>

    <div class="image-container">
        <img src="../static/images/{{ image }}.jpg" alt="Centered Square">
    </div>

    <footer>
        <p>Contact: rafael.baptista-benaion@etu.univ-cotedazur.fr</p>
    </footer>
</body>
</html>